<div class="wrapper">
    <div class="sidebar">
        <h2>Register</h2>
        <ul style="list-style-type:none;">
            <li><a class="btn"> <img style="width: 20%;" src="/assets/icons/phone.png" alt="">
                    <strong><a [routerLink]="['/phone-reg-page']" routerLinkActive="router-link-active">Mobile
                            Verification</a></strong><br>
                    <small>
                        <p>Requires OTP</p>
                    </small>
                </a></li>
            <li><a class="btn"><img style="width: 20%; margin-right: 5px;" src="/assets/icons/admin.png" alt="">
                    <strong><a [routerLink]="['/register-page']" routerLinkActive="router-link-active">Basic
                            Details</a></strong><br>
                    <small>
                        <p>Name, Occupation etc</p>
                    </small>
                </a></li>
            <li><a class="btn"><img style="width: 20%; margin-right: 5px;" src="/assets/icons/card.png" alt="">
                    <strong><a [routerLink]="['/upload-doc']" routerLinkActive="router-link-active">Upload
                            Documents</a></strong><br>
                    <small>
                        <p>KYC Documents, Cancelled <br> Cheque</p>
                    </small>
                </a></li>
            <li><a class="btn"><img style="width: 20%; margin-right: 5px;" src="/assets/icons/Commodities.png" alt="">
                    <strong>Add Commodities</strong><br>
                    <small>
                        <p>Wheat, Maze, Turmeric, Spices <br>
                            or others</p>
                    </small>
                </a></li>
        </ul>

    </div>
</div>