<!-- <footer >
    <div class="container-upper-footer">
        <div class="container-about" fxFlex="70">
            <div fxLayout="column" fxLayoutAlign="start start"  class="container" fxFlex="35">
                <h1>About Farmayu</h1>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">About Us</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Structure & Key Personnel</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Investor Relations</a>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start"  class="container" fxFlex="35">
                <h1>Event Gallery</h1>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Event 1</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Event 2</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Event 3</a>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start"  class="container" fxFlex="35">
                <h1>Products & Services</h1>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Commodity Purchase</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Crop Forecasting</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Crop Insurance</a>
            </div>
        </div>
        <div class="container" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="30">
            <div  fxLayout="column" fxLayoutAlign="space-between  stretch" fxFlex="50">
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Disclaimer</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Terms of Use</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Copyright</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Site Map</a>
                <a class="list" [routerLink]="['/about-us']" routerLinkActive="router-link-active">Website Policies</a>                
            </div>
            <div  fxLayout="column" fxLayoutAlign="end stretch"  fxFlex="50">
                <div  fxLayout="column" fxLayoutAlign="end end">
                    <div >Farmayu Mobile</div>
                    <div fxLayout="row" >
                    <img  class="icon list-horizontal"  src="/assets/icons/apple-app-store.png"  >
                    <img class="icon list-horizontal"   src="/assets/icons/google-play-store.png"  >
                    </div>
                </div>
                <div class="list"  fxLayout="column" fxLayoutAlign="end end">           
                    <div >Follow Us On</div>
                    <div fxLayout="row" >
                    <img class="icon list-horizontal"  src="/assets/icons/facebook.png"  >
                    <img class="icon list-horizontal"   src="/assets/icons/instagram.png"  >
                    <img class="icon list-horizontal"   src="/assets/icons/twitter.png"  >
                    </div>   
                </div>  
            </div>
        </div>
    </div>
    <div class="showBand" fxLayout="row" fxLayoutAlign="center center">Copyright@farmayu 2020. All rights reserved</div>       
</footer> -->

<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="
             visibility: visible;
             animation-delay: 0.4s;
             animation-name: fadeInLeft;
           ">
                        <h3 class="f-title f_600 t_color f_size_18">About Farmayu</h3>
                        <ul class="list-unstyled f_list">
                            <li><a [routerLink]="['/about']" routerLinkActive="router-link-active">About Us</a></li>
                            <li><a [routerLink]="['/structure-key-personnel']" routerLinkActive="router-link-active">Structure & Key Personnel</a></li>
                            <li><a [routerLink]="['/investor-relation']" routerLinkActive="router-link-active">Investor Relations</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="
             visibility: visible;
             animation-delay: 0.4s;
             animation-name: fadeInLeft;
           ">
                        <h3 class="f-title f_600 t_color f_size_18">Event Gallery</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Event 1</a></li>
                            <li><a href="#">Event 2</a></li>
                            <li><a href="#">Event 3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="
             visibility: visible;
             animation-delay: 0.6s;
             animation-name: fadeInLeft;
           ">
                        <h3 class="f-title f_600 t_color f_size_18">Products & Services</h3>
                        <ul class="list-unstyled f_list">
                            <li><a [routerLink]="['/commodity-purchase']" routerLinkActive="router-link-active">Commodity Purchase</a></li>
                            <li><a [routerLink]="['/crop-forecasting']" routerLinkActive="router-link-active">Crop Forecasting</a></li>
                            <li><a [routerLink]="['/crop-insurance']" routerLinkActive="router-link-active">Crop Insurance</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="
             visibility: visible;
             animation-delay: 0.8s;
             animation-name: fadeInLeft;
           ">
                        <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
                        <div class="f_social_icon">
                            <a href="#" class="fa fa-facebook-square" aria-hidden="true"></a>
                            <a href="#"class="fa fa-twitter-square" aria-hidden="true"></a>
                            <a href="#" class="fa fa-linkedin-square" aria-hidden="true"></a>
                            <a href="#" class="fa fa-pinterest-square" aria-hidden="true"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg" style="background-color: white">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    
    <div class="showBand" fxLayout="row" fxLayoutAlign="center center">Copyright@farmayu 2020. All rights reserved</div>
</footer>